TG_TOKEN=ВАШ_ТОКЕН_БОТА
API_TOKEN=qgLGZW5JgOTWhyUJNnQAlFipqtufJPMerF6U4LhnsgKNKIPj
PANEL_URL=https://pirzhok.sichevfamily.online:26095/JC1yTiiFBfKxq32wBp
ADMIN_IDS=5956220025
GROQ_KEY=
SUB_URL=https://pirzhok.sichevfamily.online:32750
SUB_PATH=/slfgoetSFKPWTJET&123/
CLASH_PATH=/clash/
